Repository openucx/ucx, pull requests merged in 2019-09, with the labels that each got.

#4086 UCP/UCT/API: ucp/uct listener query - use sockaddr in attr
  src/ucp/api/ucp.h
  src/ucp/core/ucp_listener.c
  src/ucp/core/ucp_listener.h
  src/ucs/sys/sock.c
  src/ucs/sys/sock.h
  src/uct/api/uct.h
  src/uct/ib/rdmacm/rdmacm_iface.c
  src/uct/ib/rdmacm/rdmacm_listener.c
  src/uct/tcp/sockcm/sockcm_iface.c
  test/examples/ucp_client_server.c
  test/gtest/ucp/test_ucp_sockaddr.cc
Labels: API

#4116 GTEST: sockadrr - fix the usage of the arg to priv_data cb.
  test/gtest/uct/ib/test_sockaddr.cc
  test/gtest/uct/uct_test.cc
  test/gtest/uct/uct_test.h
Labels: Test

#4120 UCP, UCS, UCT: Fix clang warnings (v1.6.x)
  src/ucp/core/ucp_context.c
  src/ucp/core/ucp_ep.c
  src/ucp/core/ucp_mm.c
  src/ucp/core/ucp_rkey.c
  src/ucp/stream/stream.h
  src/ucs/config/parser.c
  src/ucs/debug/debug.c
  src/uct/ib/base/ib_iface.c
  src/uct/ib/rc/accel/rc_mlx5_ep.c
  src/uct/ib/rc/verbs/rc_verbs_ep.c
Labels: Target: v1.6.x

#4165 BUILD: Look for cuda stubs in the stubs/ dir
  config/m4/cuda.m4
Labels: Bugfix

#4142 UCT/IFACE: added typedefs for iface ops values
  src/uct/api/tl.h
  src/uct/base/uct_iface.c
Labels: API, Portability

#4169 UCT/API: Fix uct_ep_pending_add documentation
  src/uct/api/uct.h
Labels: API

#4155 UCP/API/TEST: Fix ucs_status_ptr_t checks
  bindings/java/src/main/native/jucx_common_def.cc
  src/ucp/api/ucp.h
  src/ucs/type/status.h
  test/examples/ucp_hello_world.c
  test/gtest/ucp/test_ucp_am.cc
  test/gtest/ucp/test_ucp_stream.cc
  test/gtest/ucs/test_type.cc
Labels: API

#4135 UCT/CUDA: Support new gdrcopy API.
  config/m4/gdrcopy.m4
  src/uct/cuda/gdr_copy/gdr_copy_ep.c
  src/uct/cuda/gdr_copy/gdr_copy_md.c
  src/uct/cuda/gdr_copy/gdr_copy_md.h
Labels: Waiting for Author Response

#4212 UCP/WORKER: Select device atomics if there is a scalable device
  src/ucp/core/ucp_worker.c
Labels: Target: v1.7.x

#4217 UCT/IB/RDMACM, UCT/SOCKCM: Inherit UCT base config
  src/uct/ib/rdmacm/rdmacm_iface.c
  src/uct/tcp/sockcm/sockcm_iface.c
Labels: Target: v1.7.x

#4180 UCT/API: Multi-packet XRQ for HW TM (API only)
  src/ucp/tag/eager_rcv.c
  src/ucp/tag/offload.h
  src/uct/api/uct_def.h
  src/uct/ib/rc/accel/rc_mlx5.inl
  test/gtest/uct/test_tag.cc
Labels: API

#4238 UCT/API: tag msg context clarification
  src/uct/api/uct_def.h
Labels: Documentation
