Repository openucx/ucx, pull requests merged in 2020-04, with the labels that each got.

#4959 NEWS: News file update for RC2
  NEWS
Labels: Target: v1.8.0

#4947 UCP/ADDRESS: Improve assertion
  src/ucp/wireup/address.c
Labels: Waiting for Author Response

#4784 UCP/REQUEST_API: new request based API
  src/ucp/api/ucp.h
  src/ucp/api/ucp_def.h
  src/ucp/core/ucp_request.c
  src/ucp/rma/rma_send.c
  src/ucp/tag/tag_recv.c
  src/ucp/tag/tag_send.c
Labels: API

#4963 JENKINS: check for config.h
  contrib/test_jenkins.sh
  src/tools/perf/lib/ucp_tests.cc
  src/tools/perf/lib/uct_tests.cc
Labels: Jenkins

#4949 UCT: Introduce uct_md_attr_t and uct_md_mem_query
  src/ucs/Makefile.am
  src/ucs/memory/memory_type.h
  src/uct/api/uct.h
  src/uct/base/uct_md.c
  src/uct/base/uct_md.h
  test/gtest/Makefile.am
Labels: API

#4816 TEST/APPS/IO_DEMO: add IO demo application for sockaddr
  config/m4/compiler.m4
  configure.ac
  contrib/test_jenkins.sh
  src/ucp/wireup/wireup_cm.c
  test/apps/Makefile.am
  test/apps/iodemo/Makefile.am
  test/apps/iodemo/io_demo.cc
  test/apps/iodemo/ucx_wrapper.cc
  test/apps/iodemo/ucx_wrapper.h
Labels: Ready for Review

#4962 UCT/API: Update iface event API to support different event notification mechanisms
  src/tools/perf/lib/libperf.c
  src/ucp/core/ucp_worker.c
  src/ucp/wireup/address.c
  src/ucp/wireup/address.h
  src/ucp/wireup/select.c
  src/ucp/wireup/wireup.h
  src/uct/api/uct.h
  src/uct/api/uct_def.h
  src/uct/cuda/cuda_ipc/cuda_ipc_iface.c
  src/uct/ib/base/ib_iface.c
  src/uct/ib/rc/base/rc_iface.c
  src/uct/ib/ud/base/ud_iface.c
  src/uct/sm/mm/base/mm_iface.c
  src/uct/tcp/tcp_iface.c
  test/gtest/uct/ib/test_cq_moderation.cc
  test/gtest/uct/ib/test_ib.cc
  test/gtest/uct/test_event.cc
  test/gtest/uct/uct_test.cc
  test/gtest/uct/uct_test.h
Labels: API

#4860 UCS: Improve foreach performance of ptr-array and add ptr_array locked interface
  src/ucs/datastruct/ptr_array.c
  src/ucs/datastruct/ptr_array.h
  src/uct/ib/rc/accel/rc_mlx5_common.c
  src/uct/ib/rc/accel/rc_mlx5_common.h
  src/uct/ib/rc/accel/rc_mlx5_ep.c
  src/uct/ib/ud/base/ud_iface.c
  test/gtest/ucs/test_datatype.cc
Labels: Waiting for Author Response

#5067 UCP/API: added flags to op_attr
  src/ucp/api/ucp.h
  src/ucp/tag/tag_send.c
Labels: API

#5100 NEWS: Backport NEWS v1.8.0 to Master
  NEWS
Labels: Documentation
