Repository openucx/ucx, pull requests merged in 2020-11, with the labels that each got.

#5884 UCP/AM/DOC: Fix doc for ucp_am_recv_data_nbx
  src/ucp/api/ucp.h
Labels: API, Documentation

#5628 UCT/RC/DC: Add option to poll TX CQ every progress iteration
  src/uct/ib/dc/dc_mlx5.c
  src/uct/ib/rc/accel/rc_mlx5_iface.c
  src/uct/ib/rc/base/rc_iface.c
  src/uct/ib/rc/base/rc_iface.h
  src/uct/ib/rc/verbs/rc_verbs_iface.c
Labels: Optimization

#5951 API/UCT: added UCT_IFACE_FLAG_EP_KEEPALIVE caps
  src/uct/api/uct.h
Labels: API
