Repository openucx/ucx, pull requests merged in 2020-06, with the labels that each got.

#5250 UCT/UD: Include path index in connection lookup
  src/uct/ib/ud/base/ud_ep.c
  src/uct/ib/ud/base/ud_iface.c
  src/uct/ib/ud/base/ud_iface.h
  src/uct/ib/ud/base/ud_log.c
  test/gtest/uct/ib/test_ud_ds.cc
Labels: Bugfix

#5213 UCT/API/UCP: Use ucs_linear_func_t to represent iface and md performance
  src/tools/info/tl_info.c
  src/ucp/core/ucp_context.h
  src/ucp/core/ucp_ep.c
  src/ucp/core/ucp_ep.h
  src/ucp/wireup/address.c
  src/ucp/wireup/select.c
  src/uct/api/uct.h
  src/uct/cuda/cuda_copy/cuda_copy_iface.c
  src/uct/cuda/cuda_copy/cuda_copy_md.c
  src/uct/cuda/cuda_ipc/cuda_ipc_iface.c
  src/uct/cuda/cuda_ipc/cuda_ipc_md.c
  src/uct/cuda/gdr_copy/gdr_copy_iface.c
  src/uct/cuda/gdr_copy/gdr_copy_md.c
  src/uct/cuda/gdr_copy/gdr_copy_md.h
  src/uct/ib/base/ib_iface.c
  src/uct/ib/base/ib_md.c
  src/uct/ib/base/ib_md.h
  src/uct/ib/dc/dc_mlx5.c
  src/uct/ib/rc/accel/rc_mlx5_iface.c
  src/uct/ib/rc/verbs/rc_verbs_iface.c
  src/uct/ib/rdmacm/rdmacm_md.c
  src/uct/ib/ud/base/ud_iface.c
  src/uct/rocm/copy/rocm_copy_iface.c
  src/uct/rocm/copy/rocm_copy_md.c
  src/uct/rocm/gdr/rocm_gdr_iface.c
  src/uct/rocm/gdr/rocm_gdr_md.c
  src/uct/rocm/ipc/rocm_ipc_iface.c
  src/uct/rocm/ipc/rocm_ipc_md.c
  src/uct/sm/mm/base/mm_iface.c
  src/uct/sm/mm/xpmem/mm_xpmem.c
  src/uct/sm/scopy/base/scopy_iface.c
  src/uct/sm/scopy/cma/cma_md.c
  src/uct/sm/scopy/knem/knem_md.c
  src/uct/sm/scopy/knem/knem_md.h
  src/uct/sm/self/self.c
  src/uct/tcp/sockcm/sockcm_md.c
  src/uct/tcp/tcp_iface.c
  src/uct/tcp/tcp_md.c
  src/uct/ugni/base/ugni_md.c
  src/uct/ugni/rdma/ugni_rdma_iface.c
  src/uct/ugni/smsg/ugni_smsg_iface.c
  src/uct/ugni/udt/ugni_udt_iface.c
Labels: API

#5254 DOC: Updating guidelines for contributors
  .github/CONTRIBUTING.md
Labels: Documentation

#5257 UCP/UCT/API/GTEST: Remove the sockaddr_connect_cb union in uct_ep_params
  src/ucp/wireup/wireup_cm.c
  src/uct/api/uct.h
  src/uct/ib/rdmacm/rdmacm_cm_ep.c
  src/uct/tcp/tcp_sockcm_ep.c
  test/gtest/uct/ib/test_sockaddr.cc
  test/gtest/uct/uct_test.cc
Labels: API

#5244 UCP/WIREUP: do not use UCP_EP_FLAG_CONNECT_REQ_QUEUED for CM case
  src/ucp/core/ucp_ep.c
  src/ucp/wireup/wireup.c
Labels: Ready for Review

#4984 UCP/API: nbx API for flush and disconnect calls
  src/ucp/api/ucp.h
  src/ucp/core/ucp_ep.c
  src/ucp/rma/flush.c
Labels: API

#4993 UCP/API: nbx API for stream calls
  src/ucp/api/ucp.h
  src/ucp/api/ucp_def.h
  src/ucp/stream/stream_recv.c
  src/ucp/stream/stream_send.c
Labels: API

#5203 UCP/API: Define reply_buffer field for nbx parms
  src/ucp/api/ucp.h
  src/ucp/rma/amo_send.c
  test/gtest/ucp/test_ucp_atomic.cc
  test/gtest/ucp/test_ucp_atomic.h
Labels: API

#5237 UCT/IB/UD: packet filter by any GID present on device
  src/ucs/sys/sock.c
  src/ucs/sys/sock.h
  src/uct/ib/base/ib_device.c
  src/uct/ib/base/ib_device.h
  src/uct/ib/ud/accel/ud_mlx5.c
  src/uct/ib/ud/base/ud_iface.c
  src/uct/ib/ud/base/ud_iface.h
  src/uct/ib/ud/verbs/ud_verbs.c
  test/gtest/ucp/test_ucp_sockaddr.cc
Labels: Approved pending CI
