Repository openucx/ucx, pull requests merged in 2020-07, with the labels that each got.

#5336 UCP/RMA/NBX: renamed param
  src/ucp/api/ucp.h
  src/ucp/rma/rma_send.c
Labels: API

#5315 UCP/NBX/FLUSH-CLOSE: added ep/worker flush and ep close nbx
  src/ucp/api/ucp.h
  src/ucp/core/ucp_ep.c
  src/ucp/core/ucp_ep.h
  src/ucp/core/ucp_request.c
  src/ucp/core/ucp_request.h
  src/ucp/core/ucp_request.inl
  src/ucp/rma/flush.c
  src/ucp/rma/rma.inl
  src/ucp/rma/rma_send.c
  src/ucp/tag/tag_send.c
  src/ucp/wireup/wireup_cm.c
Labels: API

#5343 UCP/DT/DOC: Fix typo in generic dt ops doc
  src/ucp/api/ucp.h
Labels: API, Documentation

#5311 UCT/DOC: uct_ep_create sockaddr/conn_request
  src/uct/api/uct.h
Labels: API, Approved pending CI, Documentation

#5361 UCP/TEST: Fix rkey_ptr protocol and add stats/tests
  src/ucp/core/ucp_worker.c
  src/ucp/core/ucp_worker.h
  src/ucp/tag/rndv.c
  src/ucp/tag/tag_recv.c
  src/ucp/wireup/select.c
  test/gtest/ucp/test_ucp_tag_xfer.cc
Labels: Bugfix

#5379 UCP/TEST: Fix rkey_ptr protocol and add stats/tests - v1.9.x
  src/ucp/core/ucp_worker.c
  src/ucp/core/ucp_worker.h
  src/ucp/tag/rndv.c
  src/ucp/tag/tag_recv.c
  src/ucp/wireup/select.c
  test/gtest/ucp/test_ucp_tag_xfer.cc
Labels: Bugfix

#5371 UCP: Add memtype query in ucp_context_query() API
  docs/doxygen/ucxdox
  src/ucp/api/ucp.h
  src/ucp/core/ucp_context.c
  src/ucp/core/ucp_context.h
  src/ucs/memory/memory_type.h
Labels: API

#5391 SPEC: Don't install examples - v1.9.x
  ucx.spec.in
Labels: Bugfix

#5309 UCP: Add prot parameter to UCP API.
  src/ucp/api/ucp.h
  src/ucp/core/ucp_mm.c
Labels: API

#5348 UCT: Add prot READ/WRITE to flags parameter of API.
  src/uct/api/uct.h
Labels: API

#5442 UCP/WIREUP: Check that number of lanes is within limit - v1.9.x
  src/ucp/wireup/select.c
Labels: Bugfix

#5455 DOCS/PUT-GET-NBX: fixed params specs
  src/ucp/api/ucp.h
Labels: Documentation

#5426 UCP/API: Add flag to pass buffer memory type with UCP NBX API
  examples/ucp_hello_world.c
  src/ucp/api/ucp.h
  src/ucp/core/ucp_context.h
  src/ucp/stream/stream_recv.c
  src/ucp/stream/stream_send.c
  src/ucp/tag/tag_recv.c
  src/ucp/tag/tag_send.c
  src/ucs/memory/memory_type.h
Labels: API

#5499 UCT/UD: Send ACK request with SOLICITED flag
  buildlib/tests.yml
  src/uct/ib/ud/base/ud_ep.c
Labels: Bugfix

#5125 UCP/API: Add new UCP AM API
  examples/ucp_client_server.c
  src/ucp/api/ucp.h
  src/ucp/api/ucp_def.h
  src/ucp/core/ucp_am.c
Labels: API
