Repository openucx/ucx, pull requests merged in 2020-09, with the labels that each got.

#5649 TEST: io_demo - run an unlimited number of iterations if 0 is set for -i
  test/apps/iodemo/io_demo.cc
Labels: Test

#5645 UCT/API: Update the doc for the backlog param in uct_listener_params
  src/uct/api/uct.h
  src/uct/base/uct_cm.c
Labels: API, Documentation

#5641 UCP/AMO/API: Update ucp_atomic_op_nbx doc
  src/ucp/api/ucp.h
Labels: Documentation

#5631 UCT/API: add uct_completion.status
  examples/uct_hello_world.c
  src/tools/perf/lib/uct_tests.cc
  src/ucp/core/ucp_request.inl
  src/ucp/rma/amo_send.c
  src/ucp/rma/flush.c
  src/uct/api/uct.h
  src/uct/base/uct_iface.h
  src/uct/ugni/rdma/ugni_rdma_ep.c
  test/gtest/uct/ib/test_dc.cc
  test/gtest/uct/ib/test_rc.cc
  test/gtest/uct/ib/test_sockaddr.cc
  test/gtest/uct/test_amo.cc
  test/gtest/uct/test_amo_swap.cc
  test/gtest/uct/test_fence.cc
  test/gtest/uct/test_flush.cc
  test/gtest/uct/test_p2p_mix.cc
  test/gtest/uct/test_peer_failure.cc
  test/gtest/uct/test_pending.cc
  test/gtest/uct/test_stats.cc
  test/gtest/uct/test_tag.cc
  test/gtest/uct/test_zcopy_comp.cc
  test/gtest/uct/uct_p2p_test.cc
Labels: API

#5692 UCP/RNDV/CUDA: Fix host bw lane check for staging - v1.9.x
  src/ucp/tag/rndv.c
Labels: Bugfix

#5562 UCT/API: Rework of uct_mem_alloc/uct_md_mem_alloc to use mem_type
  src/ucp/core/ucp_mm.c
  src/uct/api/uct.h
  src/uct/base/uct_md.c
  src/uct/base/uct_md.h
  src/uct/base/uct_mem.c
  src/uct/sm/mm/base/mm_md.c
  src/uct/sm/mm/posix/mm_posix.c
  src/uct/sm/mm/sysv/mm_sysv.c
  test/gtest/uct/test_md.cc
  test/gtest/uct/test_mem.cc
  test/gtest/uct/test_mm.cc
  test/gtest/uct/uct_test.cc
Labels: API

#5711 UCT/API: remove status arg from uct_completion_callback_t
  examples/uct_hello_world.c
  src/ucp/core/ucp_am.c
  src/ucp/core/ucp_ep.h
  src/ucp/core/ucp_request.c
  src/ucp/core/ucp_worker.c
  src/ucp/proto/proto_am.c
  src/ucp/proto/proto_am.h
  src/ucp/rma/amo_send.c
  src/ucp/rma/flush.c
  src/ucp/rma/rma_send.c
  src/ucp/rndv/rndv.c
  src/ucp/tag/eager.h
  src/ucp/tag/eager_snd.c
  src/ucp/tag/offload.c
  src/uct/api/uct.h
  src/uct/api/uct_def.h
  src/uct/base/uct_iface.h
  src/uct/ugni/base/ugni_ep.c
  src/uct/ugni/rdma/ugni_rdma_ep.c
  test/gtest/uct/ib/test_dc.cc
  test/gtest/uct/ib/test_rc.cc
  test/gtest/uct/test_amo.cc
  test/gtest/uct/test_amo.h
  test/gtest/uct/test_amo_cswap.cc
  test/gtest/uct/test_fence.cc
  test/gtest/uct/test_p2p_mix.cc
  test/gtest/uct/test_p2p_mix.h
  test/gtest/uct/test_pending.cc
  test/gtest/uct/test_tag.cc
  test/gtest/uct/uct_p2p_test.cc
  test/gtest/uct/uct_p2p_test.h
Labels: API
