Repository openucx/ucx, pull requests merged in 2020-08, with the labels that each got.

#5420 UCP/API: Cast ucp_dt_make_iov() to ucp_datatype_t
  src/ucp/api/ucp.h
Labels: API

#5519 UCP/AM: Implementation of ucp_worker_set_am_recv_handler
  examples/ucp_client_server.c
  src/ucp/api/ucp.h
  src/ucp/core/ucp_am.c
  src/ucp/core/ucp_am.h
  src/ucp/core/ucp_worker.h
  test/gtest/ucp/test_ucp_am.cc
Labels: API

#5550 AZP: Fixed GithubRelease task
  buildlib/azure-pipelines-release.yml
Labels: WIP-DNM

#5578 TEST: clang10 fix - v1.9.x
  test/gtest/common/test_helpers.h
Labels: Bugfix

#5590 UCP/AM/API: Add worker param to ucp_am_data_recv_nbx
  examples/ucp_client_server.c
  src/ucp/api/ucp.h
  src/ucp/api/ucp_def.h
  src/ucp/core/ucp_am.c
Labels: API
