Repository openucx/ucx, pull requests merged in 2021-07, with the labels that each got.

#6791 UCP: AM alignment
  src/ucp/api/ucp.h
  src/ucp/core/ucp_am.c
  src/ucp/core/ucp_am.h
  src/ucp/core/ucp_ep.c
  src/ucp/core/ucp_request.h
  src/ucp/core/ucp_request.inl
  src/ucp/core/ucp_worker.c
  src/ucp/core/ucp_worker.h
  src/ucp/proto/proto_am.inl
  src/ucp/rndv/rndv.c
  src/ucp/stream/stream_recv.c
  src/ucp/stream/stream_send.c
  src/ucp/tag/eager_rcv.c
  src/ucp/tag/eager_snd.c
  src/ucp/tag/tag_rndv.c
  src/uct/ib/base/ib_iface.c
  src/uct/sm/mm/base/mm_iface.c
  test/gtest/ucp/test_ucp_am.cc
Labels: Ready for Review

#7070 UCP/API: Fix typo in post atomics description
  src/ucp/api/ucp.h
Labels: Documentation

#7116 UCT/API/V2: Add names for UCT endpoint operations
  src/uct/api/v2/uct_v2.h
  src/uct/base/uct_iface.c
  src/uct/cuda/cuda_copy/cuda_copy_iface.c
  src/uct/cuda/gdr_copy/gdr_copy_iface.c
  test/gtest/uct/v2/test_uct_query.cc
Labels: API

#6934 UCT/IFACE: introduces API for uct_iface_is_reachable_v2()
  src/uct/api/v2/uct_v2.h
  src/uct/base/uct_iface.c
Labels: API
