Repository openucx/ucx, pull requests merged in 2022-09, with the labels that each got.

#8485 UCT/API: added uct_ep_connect_to_ep_v2 method
  src/uct/api/v2/uct_v2.h
  src/uct/base/uct_iface.c
  src/uct/base/uct_iface.h
Labels: API

#8471 DOC/FAQ: update RDMA requirements
  docs/source/faq.md
Labels: Documentation

#8489 UCP/API: Introduce exported memory handle
  src/ucp/api/ucp.h
Labels: API

#8525 UCP/API: Make memh_pack/memh_buffer_release params const
  src/ucp/api/ucp.h
  src/ucp/core/ucp_rkey.c
Labels: API

#8520 UCP: Use md_query_v2
  src/tools/info/tl_info.c
  src/ucp/core/ucp_context.c
  src/ucp/core/ucp_context.h
  src/ucp/core/ucp_ep.c
  src/ucp/core/ucp_ep.inl
  src/ucp/core/ucp_mm.c
  src/ucp/core/ucp_request.c
  src/ucp/core/ucp_request.inl
  src/ucp/core/ucp_rkey.c
  src/ucp/core/ucp_worker.c
  src/ucp/proto/proto_am.inl
  src/ucp/proto/proto_common.c
  src/ucp/proto/proto_init.c
  src/ucp/rndv/proto_rndv.c
  src/ucp/rndv/rndv.c
  src/ucp/tag/offload.c
  src/ucp/wireup/address.c
  src/ucp/wireup/select.c
  src/ucp/wireup/wireup.h
  src/uct/api/uct.h
  src/uct/base/uct_md.c
  test/gtest/ucp/test_ucp_proto.cc
  test/gtest/ucp/test_ucp_sockaddr.cc
  test/gtest/ucp/test_ucp_stream.cc
  test/gtest/ucp/test_ucp_wireup.cc
  test/gtest/ucp/ucp_test.cc
Labels: API

#8422 UCT/API: Introduce exported mkey buffer
  src/uct/api/uct.h
  src/uct/api/uct_def.h
  src/uct/api/v2/uct_v2.h
  src/uct/base/uct_md.c
  src/uct/base/uct_md.h
  src/uct/cuda/cuda_copy/cuda_copy_md.c
  src/uct/cuda/cuda_ipc/cuda_ipc_md.c
  src/uct/cuda/gdr_copy/gdr_copy_md.c
  src/uct/ib/base/ib_md.c
  src/uct/rocm/copy/rocm_copy_md.c
  src/uct/rocm/ipc/rocm_ipc_md.c
  src/uct/sm/mm/posix/mm_posix.c
  src/uct/sm/mm/sysv/mm_sysv.c
  src/uct/sm/mm/xpmem/mm_xpmem.c
  src/uct/sm/scopy/knem/knem_md.c
  src/uct/ugni/base/ugni_md.c
Labels: API

#8540 UCT/API: Get rid of EXPORTED MKEY pack flag and add EXPORT mkey registration flag
  src/uct/api/uct.h
  src/uct/api/v2/uct_v2.h
Labels: Documentation, API

#8150 UCP: Implementation of routine to query datatype attributes
  src/ucp/api/ucp.h
  src/ucp/dt/dt.c
  test/gtest/ucp/test_ucp_dt.cc
Labels: API

#8529 UCT/API: fixup for uct_ep_connect_to_ep_v2
  src/uct/api/v2/uct_v2.h
  src/uct/base/uct_iface.c
  src/uct/base/uct_iface.h
Labels: API

#8555 UCT/UCP/API: Add RKEY_PTR flag on component
  src/tools/info/tl_info.c
  src/ucp/core/ucp_context.h
  src/ucp/core/ucp_ep.c
  src/ucp/rndv/proto_rndv.c
  src/ucp/rndv/rndv.c
  src/ucp/wireup/select.c
  src/ucp/wireup/wireup.h
  src/uct/api/uct.h
  src/uct/sm/mm/base/mm_md.h
Labels: API
