Repository openucx/ucx, pull requests merged in 2022-08, with the labels that each got.

#8424 CONFIG/BUILD: Fix malloc hook detection with LTO
  config/m4/sysdep.m4
Labels: Bugfix

#8395 UCP/MM: Make ucp_mem_map return unique memh
  src/ucp/core/ucp_context.c
  src/ucp/core/ucp_mm.c
  src/ucp/core/ucp_mm.h
  src/ucp/core/ucp_mm.inl
  src/ucp/dt/datatype_iter.inl
  src/ucs/memory/rcache.inl
  test/gtest/ucp/test_ucp_mmap.cc
Labels: Waiting for Author Response

#8376 UCT/IB/DEVX: Create CQ using DEVX
  src/uct/ib/base/ib_iface.c
  src/uct/ib/base/ib_iface.h
  src/uct/ib/base/ib_md.c
  src/uct/ib/base/ib_md.h
  src/uct/ib/configure.m4
  src/uct/ib/dc/dc_mlx5.c
  src/uct/ib/mlx5/dv/ib_mlx5_dv.c
  src/uct/ib/mlx5/dv/ib_mlx5_dv.h
  src/uct/ib/mlx5/dv/ib_mlx5dv_md.c
  src/uct/ib/mlx5/ib_mlx5.c
  src/uct/ib/mlx5/ib_mlx5.h
  src/uct/ib/rc/accel/rc_mlx5.h
  src/uct/ib/rc/accel/rc_mlx5_common.c
  src/uct/ib/rc/accel/rc_mlx5_common.h
  src/uct/ib/rc/accel/rc_mlx5_devx.c
  src/uct/ib/rc/accel/rc_mlx5_iface.c
  src/uct/ib/rc/base/rc_iface.c
  src/uct/ib/rc/base/rc_iface.h
  src/uct/ib/rc/verbs/rc_verbs_iface.c
  src/uct/ib/ud/accel/ud_mlx5.c
  src/uct/ib/ud/base/ud_iface.c
  src/uct/ib/ud/base/ud_iface.h
  src/uct/ib/ud/base/ud_inl.h
  src/uct/ib/ud/verbs/ud_verbs.c
  test/gtest/ucp/test_ucp_tag.cc
  test/gtest/ucp/test_ucp_wireup.cc
Labels: Waiting for Author Response

#8339 UCP/MM: Selectively exclude MDs from rcache
  src/tools/info/tl_info.c
  src/ucp/core/ucp_context.c
  src/ucp/core/ucp_context.h
  src/ucp/core/ucp_mm.c
  src/ucp/dt/datatype_iter.inl
  src/uct/api/uct.h
  src/uct/cuda/cuda_copy/cuda_copy_md.c
  src/uct/cuda/cuda_ipc/cuda_ipc_md.c
  src/uct/cuda/gdr_copy/gdr_copy_md.c
  src/uct/ib/base/ib_md.c
  src/uct/rocm/copy/rocm_copy_md.c
  src/uct/rocm/gdr/rocm_gdr_md.c
  src/uct/rocm/ipc/rocm_ipc_md.c
  src/uct/sm/mm/base/mm_md.c
  src/uct/sm/scopy/cma/cma_md.c
  src/uct/sm/scopy/knem/knem_md.c
  src/uct/sm/self/self.c
  src/uct/tcp/tcp_md.c
  src/uct/ugni/base/ugni_md.c
  test/gtest/ucp/test_ucp_proto.cc
Labels: API

#8420 UCT/API: Introduce uct_md_mem_attach
  src/uct/api/v2/uct_v2.h
  src/uct/base/uct_md.c
  src/uct/base/uct_md.h
Labels: API

#8458 API/UCP: align ucp_worker_fence description with oshmem
  src/ucp/api/ucp.h
Labels: API

#8427 UCP/API: Introduce ucp_memh_pack API function
  src/ucp/api/ucp.h
  src/ucp/api/ucp_compat.h
  src/ucp/core/ucp_mm.c
  src/ucp/core/ucp_mm.h
  src/ucp/core/ucp_rkey.c
Labels: API
