Repository openucx/ucx, pull requests merged in 2022-04, with the labels that each got.

#8095 UCT/IB: Improve DC full handshake logic
  src/uct/ib/dc/dc_mlx5.c
  src/uct/ib/dc/dc_mlx5.h
  src/uct/ib/mlx5/dv/ib_mlx5_ifc.h
  src/uct/ib/mlx5/dv/ib_mlx5dv_md.c
  src/uct/ib/mlx5/ib_mlx5.h
Labels: WIP-DNM

#8072 UCT/API: uct_md_mkey_pack_v2
  src/uct/api/v2/uct_v2.h
  src/uct/base/uct_md.c
  src/uct/base/uct_md.h
  src/uct/cuda/cuda_copy/cuda_copy_md.c
  src/uct/cuda/cuda_ipc/cuda_ipc_md.c
  src/uct/cuda/gdr_copy/gdr_copy_md.c
  src/uct/ib/base/ib_md.c
  src/uct/rocm/copy/rocm_copy_md.c
  src/uct/rocm/ipc/rocm_ipc_md.c
  src/uct/sm/mm/posix/mm_posix.c
  src/uct/sm/mm/sysv/mm_sysv.c
  src/uct/sm/mm/xpmem/mm_xpmem.c
  src/uct/sm/scopy/knem/knem_md.c
  src/uct/ugni/base/ugni_md.c
Labels: API

#7990 UCP/EP API changes to support extending ucp_ep_query to query endpoint transport information
  src/ucp/api/ucp.h
  src/ucp/api/ucp_def.h
Labels: API

#8168 UCP/ENDPOINT: Fix wording in comment in ucp_def.h
  src/ucp/api/ucp_def.h
Labels: Documentation
