Repository openucx/ucx, pull requests merged in 2022-05, with the labels that each got.

#8194 UCP/API: Move deprecated functions to ucp_compat.h
  examples/ucp_hello_world.c
  src/ucp/api/ucp.h
  src/ucp/api/ucp_compat.h
Labels: API

#8141 DOCS/FAQ: re-worded static build section
  docs/source/faq.md
Labels: Documentation

#8120 UCP: Add API to query datatype attributes
  src/ucp/api/ucp.h
Labels: API

#8265 UCP/RCACHE: Avoid printing debug messages from rcache mpool
  src/ucs/datastruct/mpool.c
  src/ucs/datastruct/mpool.h
  src/ucs/memory/rcache.c
Labels: Bugfix
